<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

    <div formGroupName="nombreCompleto">

        <!-- [ngClass]="{ 'has-danger': !forma.get('nombre').valid}"-->
        <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('nombreCompleto.nombre').valid}">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <!-- El valor de formControlName tiene que ser igual a las propiedades contenidas en "forma"-->
                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">

                <!--Es necesario ver por qué error está fallanado, si es por required o por nº caracteres para mandar un mensaje-->
                <div *ngIf="forma.get('nombreCompleto.nombre').errors?.required" class="form-control-feedback">
                    Campo requerido.
                </div>

                <div *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength" class="form-control-feedback">
                    Caracteres mínimos 5.
                </div>

            </div>
        </div>


        <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('nombreCompleto.apellido').valid}">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido">

                <div *ngIf="forma.get('nombreCompleto.apellido').errors?.required" class="form-control-feedback">
                    Campo requerido.
                </div>

            </div>
        </div>


    </div>


    <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('email').valid}">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="email">

            <div *ngIf="forma.controls['email'].errors?.required" class="form-control-feedback">
                Campo requerido.
            </div>

            <div *ngIf="forma.controls['email'].errors?.pattern" class="form-control-feedback">
                Formato inválido.
            </div>
        </div>
    </div>

    <!-- Pasatiempos-->
    <div class="form-group row">
        <label class="col-2 col-form-label">Pasatiempos</label>

        <!-- Se utiliza formArrayName de forma global para identificar el array de pasatiempos-->
        <div class="col-md-8" formArrayName="pasatiempos">

            <!-- Con el formControlName="0" se hace referencia al primer elemento del array-->
            <input *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index" type="text" class="form-control" [formControlName]="i">
        </div>

        <!-- Botón para añadir nuevos pasatiempos-->
        <button type="button" class="btn btn-primary" (click)="agregarPasatiempo()">Nuevo</button>

    </div>

    <!-- USERNAME-->
    <div class="form-group row">
        <label class="col-2 col-form-label">Username</label>
        <div class="col-md-8">
            <input class="form-control" type="text" placeholder="Usuarios" formControlName="username">

        </div>
    </div>

    <!-- PASSWORD 1-->
    <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">
            <input class="form-control" type="password" placeholder="Password" formControlName="password1">

        </div>
    </div>


    <!-- PASSWORD 2-->
    <div class="form-group row">
        <label class="col-2 col-form-label">Repetir Password</label>
        <div class="col-md-8">
            <input class="form-control" type="password" placeholder="Repite Password" formControlName="password2">

        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
                Guardar
            </button>
        </div>
    </div>

    <!-- Comprobación de la validez del formulario-->
    {{ forma.valid }}
    <br> {{ forma.status }}

</form>