<h4>Formularios <small>template</small></h4>
<hr>
<!-- novalidate - es para eliminar el mensaje de HTML que sale por el required-->
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

    <div>

        <div class="form-group row" [ngClass]="{ 'has-danger': (nombre.errors?.minlength || nombre.errors?.required) && nombre.touched }">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input #nombre="ngModel" class="form-control" type="text" placeholder="Nombre" name="nombre" minlength="5" [(ngModel)]="usuario.nombre" required>

                <!--Es necesario ver por qué error está fallanado, si es por required o por los 5 caracteres-->
                <div class="form-control-feedback" *ngIf="nombre.errors?.required">
                    Campo requerido.
                </div>

                <div class="form-control-feedback" *ngIf="nombre.errors?.minlength">
                    Se necesitan al menos {{ nombre.errors.minlength.requiredLength }} caracteres.
                </div>
            </div>
        </div>


        <div class="form-group row" [ngClass]="{ 'has-danger': apellido.errors?.required && apellido.touched }">
            <label class="col-2 col-form-label ">Apellido</label>
            <div class="col-8 ">
                <input #apellido="ngModel" class="form-control " type="text " placeholder="Apellido " name="apellido " [(ngModel)]="usuario.apellido" required>

                <div class="form-control-feedback" *ngIf="apellido.errors?.required">
                    Campo requerido.
                </div>

            </div>

        </div>

    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger': (email.errors?.pattern || email.errors?.required) && email.touched }">
        <label class="col-2 col-form-label ">Correo</label>
        <div class="col-md-8 ">
            <input #email="ngModel" class="form-control " type="email " placeholder="Correo electrónico " name="email " [(ngModel)]="usuario.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>

            <div class="form-control-feedback" *ngIf="email.errors?.required">
                Campo requerido.
            </div>

            <div class="form-control-feedback" *ngIf="email.errors?.pattern">
                Formato incorrecto.
            </div>
        </div>
    </div>

    <!-- SELECT-->
    <div class="form-group row">
        <label class="col-2 col-form-label ">País</label>
        <div class="col-md-8 ">
            <select [(ngModel)]="usuario.pais" class="form-control" name="pais">
                <option value="">Seleccione un país</option>
                <!-- Se crean las distintas opciones-->
                <option *ngFor="let pais of paises" value="pais.codigo">{{ pais.nombre }}</option>
            </select>

        </div>
    </div>

    <!-- RADIO-->
    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-md-8 ">

            <label *ngFor="let sex of sexos" class="custom-control custom-radio">
                <input [(ngModel)]="usuario.sexo" name="sexo" type="radio" class="custom-control-input" [value]="sex">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ sex }}</span>
            </label>

            <!--<label class="custom-control custom-radio">
                <input [(ngModel)]="usuario.sexo" name="sexo" type="radio" class="custom-control-input" value="Hombre">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Hombre</span>
            </label>-->

        </div>
    </div>

    <!-- CHECKBOX-->
    <div class="form-group row">
        <label class="col-2 col-form-label">Acepta</label>
        <div class="col-md-8 ">
            <label class="custom-control custom-checkbox">
                <input [(ngModel)]="usuario.acepta" name="acepta" type="checkbox" class="custom-control-input" required>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Acepto los términos y condiciones </span>
            </label>
        </div>
    </div>

    <!-- BUTTON SUBMIT-->
    <div class="form-group row ">
        <label class="col-2 col-form-label ">&nbsp;</label>
        <div class="input-group col-md-8 ">
            <!-- Con [disabled] se puede bloquear el botón, hasta que el formulario sea válido-->
            <button [disabled]="!forma.valid" type="submit " class="btn btn-outline-primary ">
              GUARDAR
            </button>
        </div>
    </div>

</form>

<!-- Para ver el usuario en formato JSON-->
<pre>
    {{ usuario | json }}
</pre>